PORT=4000
NODE_ENV=development

MONGO_URI=mongodb+srv://fullstack0311_db_user:mtNfu4dN7AzI5H89@cluster0.pxicidk.mongodb.net/reminders?retryWrites=true&w=majority
# For Atlas:
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/reminders?retryWrites=true&w=majority

# WhatsApp Agent API
WHATSAPP_AGENT_KEY=WAAVhmQGWWCELWkjxYKUikIXpLr3yGGtVR3LpOWW30RthxaberfzaCdjWBxcn2GA7XMrE4nqbRFN5ZBJGwX0x1qprmrGXAAtB2anOuRaZB3G8gd6cwp4bwDL6DJDMdxs1ZCZAl9NAyBP9ZC3kdLjl7wDSCBQ49lb68cr2ZAcYqem0rk9HdMZD
WHATSAPP_API_BASE=https://api.whatsapp.com/agent/v1

# Time
TZ=UTC
DEFAULT_TIMEZONE=Asia/Karachi

# Logging
LOG_LEVEL=dev

JWT_SECRET=mgkPShwMKzY5XUlpfy6AeFa2qbV8rWLHTNIiODtvRGn73x0jBJ1Z4QCuE9dsco
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=10